.list1{
	background-color: gray;
	color:white;
}

.list0{
	background-color: white;
	color:black;
}
#info {
	background-color: gray;
	color:white;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 40px;
	height: 40px
}
#btn {
	margin-top: 5px;
}